---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

type VersionEntry = {
  title?: string;
  description?: string;
  releaseDate?: string; // YYYY/MM/DD
  maxJavaVersion?: number; // e.g., 21 or 25
  mmc?: {
    java8Url?: string;
    java17_2XUrl?: string;
  };
  server?: {
    java8Url?: string;
    java17_2XUrl?: string;
  };
  client?: {
    java8Url?: string;
  };
};

// Add or edit versions below. Keys are version strings like "2.8.0".
const versionsConfig: Record<string, VersionEntry> = {
  "2.8.0": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.4%20to%202.8.0.md">Click here to get the changelog</a>',
    releaseDate: "2025/09/27",
    maxJavaVersion: 25,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.8.0_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.8.0_Java_17-25.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.8.0_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.8.0_Server_Java_17-25.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.8.0_Client_Java_8.zip",
    },
  },
  "2.7.4": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.3%20to%202.7.4.md">Click here to get the changelog</a>',
    releaseDate: "2025/04/13",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.4_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.4_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.4_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.4_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.7.4_Client_Java_8.zip",
    },
  },
  "2.7.3": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.2%20to%202.7.3.md">Click here to get the changelog</a>',
    releaseDate: "2025/03/02",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.3_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.3_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.3_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.3_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.7.3_Client_Java_8.zip",
    },
  },
  "2.7.2": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.1%20to%202.7.2.md">Click here to get the changelog</a>',
    releaseDate: "2024/12/31",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.2_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.2_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.2_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.2_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.7.2_Client_Java_8.zip",
    },
  },
  "2.7.1": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.0%20to%202.7.1.md">Click here to get the changelog</a>',
    releaseDate: "2024/12/20",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.1_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.1_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.1_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.1_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.7.1_Client_Java_8.zip",
    },
  },
  "2.7.0": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.0-RC-3%20to%202.7.0.md">Click here to get the changelog</a>',
    releaseDate: "2024/12/08",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.0_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.7.0_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.0_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.7.0_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.7.0_Client_Java_8.zip",
    },
  },
  "2.6.1": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.6.0%20to%202.6.1.md">Click here to get the changelog</a>',
    releaseDate: "2024/05/21",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.6.1_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.6.1_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.6.1_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.6.1_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.6.1_Client_Java_8.zip",
    },
  },
  "2.6.0": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.6.0-beta-3%20to%202.6.0.md">Click here to get the changelog</a>',
    releaseDate: "2024/04/28",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.6.0_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.6.0_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.6.0_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.6.0_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.6.0_Client_Java_8.zip",
    },
  },
  "2.5.1": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.5.0%20to%202.5.1.md">Click here to get the changelog</a>',
    releaseDate: "2023/12/20",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.5.1_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.5.1_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.5.1_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.5.1_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.5.1_Client_Java_8.zip",
    },
  },
  "2.5.0": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/older%20changelogs/changelog%20from%202.5.0-RC-1%20to%202.5.0.md">Click here to get the changelog</a>',
    releaseDate: "2023/12/17",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.5.0_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.5.0_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.5.0_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.5.0_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.5.0_Client_Java_8.zip",
    },
  },
  "2.4.0": {
    title: "Stable release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/older%20changelogs/changelog%20from%202.3.0%20to%202.4.0.md">Click here to get the changelog</a>',
    releaseDate: "2023/09/03",
    maxJavaVersion: 20,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.4.0_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_2.4.0_Java_17-20.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.4.0_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_2.4.0_Server_Java_17-20.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_2.4.0_Client_Java_8.zip",
    },
  },
  "2.4.1": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/older%20changelogs/changelog%20from%202.4.0%20to%202.4.1.md">Click here to get the changelog</a>',
    releaseDate: "2023/09/25",
    maxJavaVersion: 20,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.4.1_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.4.1_Java_17-20.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.4.1_Server_Java_8.zip",
      java17_2XUrl: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.4.1_Server_Java_17-20.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.4.1_Client_Java_8.zip",
    },
  },
  "2.5.0-beta-1": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/older%20changelogs/changelog%20from%202.4.0%20to%202.5.0-beta-1.md">Click here to get the changelog</a>',
    releaseDate: "2023/12/09",
    maxJavaVersion: 20,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.5.0-beta-1_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.5.0-beta-1_Java_17-20.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.5.0-beta-1_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.5.0-beta-1_Server_Java_17-20.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.5.0-beta-1_Client_Java_8.zip",
    },
  },
  "2.5.0-RC1": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/older%20changelogs/changelog%20from%202.5.0-beta-1%20to%202.5.0-RC-1.md">Click here to get the changelog</a>',
    releaseDate: "2023/12/14",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.5.0-RC1_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.5.0-RC1_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.5.0-RC1_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.5.0-RC1_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.5.0-RC1_Client_Java_8.zip",
    },
  },
  "2.6.0-beta-1": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.5.1%20to%202.6.0-beta-1.md">Click here to get the changelog</a>',
    releaseDate: "2024/03/23",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.6.0-beta-1_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.6.0-beta-1_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.6.0-beta-1_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.6.0-beta-1_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.6.0-beta-1_Client_Java_8.zip",
    },
  },
  "2.6.0-beta-2": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.6.0-beta-1%20to%202.6.0-beta-2.md">Click here to get the changelog</a>',
    releaseDate: "2024/04/02",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.6.0-beta-2_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.6.0-beta-2_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.6.0-beta-2_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.6.0-beta-2_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.6.0-beta-2_Client_Java_8.zip",
    },
  },
  "2.6.0-beta-3": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.6.0-beta-2%20to%202.6.0-beta-3.md">Click here to get the changelog</a>',
    releaseDate: "2024/04/09",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.6.0-beta-3_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.6.0-beta-3_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.6.0-beta-3_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.6.0-beta-3_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.6.0-beta-3_Client_Java_8.zip",
    },
  },
  "2.7.0-beta-1": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.6.1%20to%202.7.0-beta-1.md">Click here to get the changelog</a>',
    releaseDate: "2024/09/21",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-beta-1_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-beta-1_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-beta-1_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-beta-1_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.7.0-beta-1_Client_Java_8.zip",
    },
  },
  "2.7.0-beta-2": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.0-beta-1%20to%202.7.0-beta-2.md">Click here to get the changelog</a>',
    releaseDate: "2024/09/29",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-beta-2_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-beta-2_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-beta-2_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-beta-2_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.7.0-beta-2_Client_Java_8.zip",
    },
  },
  "2.7.0-beta-3": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.0-beta-2%20to%202.7.0-beta-3.md">Click here to get the changelog</a>',
    releaseDate: "2024/10/21",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-beta-3_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-beta-3_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-beta-3_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-beta-3_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.7.0-beta-3_Client_Java_8.zip",
    },
  },
  "2.7.0-beta-4": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.0-beta-3%20to%202.7.0-beta-4.md">Click here to get the changelog</a>',
    releaseDate: "2024/11/18",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-beta-4_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-beta-4_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-beta-4_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-beta-4_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.7.0-beta-4_Client_Java_8.zip",
    },
  },
  "2.7.0-RC-1": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.0-beta-4%20to%202.7.0-RC-1.md">Click here to get the changelog</a>',
    releaseDate: "2024/11/26",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-RC-1_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-RC-1_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-RC-1_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-RC-1_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.7.0-RC-1_Client_Java_8.zip",
    },
  },
  "2.7.0-RC-2": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.0-RC-1%20to%202.7.0-RC-2.md">Click here to get the changelog</a>',
    releaseDate: "2024/12/01",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-RC-2_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-RC-2_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-RC-2_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-RC-2_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.7.0-RC-2_Client_Java_8.zip",
    },
  },
  "2.7.0-RC-3": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.0-RC-2%20to%202.7.0-RC-3.md">Click here to get the changelog</a>',
    releaseDate: "2024/12/05",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-RC-3_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.7.0-RC-3_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-RC-3_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.7.0-RC-3_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.7.0-RC-3_Client_Java_8.zip",
    },
  },
  "April fools 2025": {
    title: "Stable release",
    description: "April fools 2025. Try to craft the Steam Gate!",
    releaseDate: "2025/04/01",
    maxJavaVersion: 21,
    mmc: {
      java8Url:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_Aprils_Fool_2025_Edition_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/GT_New_Horizons_Aprils_Fool_2025_Edition_Java_17-21.zip",
    },
    server: {
      java8Url:
        "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_Aprils_Fool_2025_Edition_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/GT_New_Horizons_Aprils_Fool_2025_Edition_Server_Java_17-21.zip",
    },
    client: {
      java8Url:
        "https://downloads.gtnewhorizons.com/ClientPacks/GT_New_Horizons_Aprils_Fool_2025_Edition_Client_Java_8.zip",
    },
  },
  "2.8.0-beta-1": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.7.4%20to%202.8.0-beta-1.md">Click here to get the changelog</a>',
    releaseDate: "2025/07/15",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-beta-1_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-beta-1_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-beta-1_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-beta-1_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.8.0-beta-1_Client_Java_8.zip",
    },
  },
  "2.8.0-beta-2": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.8.0-beta-1%20to%202.8.0-beta-2.md">Click here to get the changelog</a>',
    releaseDate: "2025/07/27",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-beta-2_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-beta-2_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-beta-2_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-beta-2_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.8.0-beta-2_Client_Java_8.zip",
    },
  },
  "2.8.0-beta-3": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.8.0-beta-2%20to%202.8.0-beta-3.md">Click here to get the changelog</a>',
    releaseDate: "2025/08/31",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-beta-3_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-beta-3_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-beta-3_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-beta-3_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.8.0-beta-3_Client_Java_8.zip",
    },
  },
  "2.8.0-beta-4": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.8.0-beta-3%20to%202.8.0-beta-4.md">Click here to get the changelog</a>',
    releaseDate: "2025/09/07",
    maxJavaVersion: 21,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-beta-4_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-beta-4_Java_17-21.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-beta-4_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-beta-4_Server_Java_17-21.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.8.0-beta-4_Client_Java_8.zip",
    },
  },
  "2.8.0-rc-1": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.8.0-beta-4%20to%202.8.0-rc-1.md">Click here to get the changelog</a>',
    releaseDate: "2025/09/21",
    maxJavaVersion: 24,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-rc-1_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-rc-1_Java_17-24.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-rc-1_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-rc-1_Server_Java_17-24.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.8.0-rc-1_Client_Java_8.zip",
    },
  },
  "2.8.0-rc-2": {
    title: "Beta release",
    description:
      '<a class="underline text-blue-400 hover:text-blue-200" href="https://github.com/GTNewHorizons/DreamAssemblerXXL/blob/master/releases/changelogs/changelog%20from%202.8.0-rc-1%20to%202.8.0-rc-2.md">Click here to get the changelog</a>',
    releaseDate: "2025/09/25",
    maxJavaVersion: 25,
    mmc: {
      java8Url: "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-rc-2_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/Multi_mc_downloads/betas/GT_New_Horizons_2.8.0-rc-2_Java_17-25.zip",
    },
    server: {
      java8Url: "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-rc-2_Server_Java_8.zip",
      java17_2XUrl:
        "https://downloads.gtnewhorizons.com/ServerPacks/betas/GT_New_Horizons_2.8.0-rc-2_Server_Java_17-25.zip",
    },
    client: {
      java8Url: "https://downloads.gtnewhorizons.com/ClientPacks/betas/GT_New_Horizons_2.8.0-rc-2_Client_Java_8.zip",
    },
  },
};

const sortedVersions = Object.entries(versionsConfig).sort((a, b) => {
  const da = a[1].releaseDate ?? "";
  const db = b[1].releaseDate ?? "";
  return db.localeCompare(da); // newest first
});
const getJavaRangeLabel = (v?: VersionEntry) => `Java 17-${v?.maxJavaVersion ?? 25}`;
---

<BaseLayout title="Version History">
  <section class="container mx-auto px-3 sm:px-4 py-6 sm:py-9">
    <div class="text-center mb-6 sm:mb-7">
      <h1 class="text-2xl sm:text-4xl font-bold">Version History</h1>
      <p class="text-gray-300 text-base sm:text-lg mt-1.5">Browse past releases and their downloads</p>
    </div>

    {
      sortedVersions.length === 0 ? (
        <div class="mx-auto max-w-3xl rounded-xl bg-[#1a1f26] border border-gray-700 p-4 text-center">
          <p class="text-gray-300 text-base">No versions available yet.</p>
        </div>
      ) : (
        <div class="mx-auto max-w-4xl space-y-3 sm:space-y-4">
          {sortedVersions.map(([version, v]) => {
            return (
              <details class="group rounded-xl bg-[#1a1f26] border border-gray-700">
                <summary class="list-none px-3 sm:px-4 py-3 sm:py-4 flex items-center justify-between cursor-pointer select-none">
                  <div class="flex flex-col sm:flex-row sm:items-center gap-0.5 sm:gap-1.5">
                    <span class="text-lg sm:text-xl font-semibold">{version}</span>
                    {v?.title && <span class="text-gray-300 text-sm sm:text-base">{v.title}</span>}
                  </div>
                  <div class="flex items-center gap-2">
                    {v?.releaseDate && (
                      <span class="inline-flex items-center gap-1.5 rounded-lg bg-[#2a3342] px-2 py-0.5 text-xs text-gray-200">
                        <Icon name="mdi:calendar" class="w-3 h-3 text-custom-blue" />
                        <span>{v.releaseDate}</span>
                      </span>
                    )}
                    <span class="ml-1.5 sm:ml-3 flex-shrink-0 rounded-lg bg-[#2a3342] p-1.5 text-custom-blue transition-transform group-open:rotate-180">
                      <Icon name="mdi:chevron-down" class="w-5 h-5" />
                    </span>
                  </div>
                </summary>

                <div class="px-3 sm:px-4 pb-4 text-gray-300 text-sm sm:text-base leading-relaxed">
                  {v?.description && <p class="mb-4 text-gray-300" set:html={v.description} />}

                  <div class="grid gap-3 sm:gap-4 md:grid-cols-3">
                    {/* MMC / Prism */}
                    <div class="rounded-xl p-3 sm:p-4 bg-[#1a1f26] border border-gray-700">
                      <div class="flex items-center gap-2 mb-2">
                        <div class="flex items-center justify-center w-9 h-9 rounded-lg bg-[#2a3342]">
                          <Icon name="material-symbols:folder-zip-outline" class="w-5 h-5 text-custom-blue" />
                        </div>
                        <h3 class="text-base sm:text-lg font-semibold">MultiMC/Prism ZIPs</h3>
                      </div>
                      <div class="flex flex-col gap-2">
                        {v?.mmc?.java17_2XUrl && (
                          <a
                            href={v.mmc.java17_2XUrl}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="inline-flex items-center justify-between gap-2 rounded-lg bg-[#2a3342] hover:bg-[#364259] text-white px-3 py-1.5"
                          >
                            <span class="inline-flex items-center gap-1.5">
                              <Icon name="material-symbols:download-rounded" class="w-5 h-5" />
                              <span>{getJavaRangeLabel(v)} ZIP</span>
                            </span>
                          </a>
                        )}
                        {v?.mmc?.java8Url && (
                          <a
                            href={v.mmc.java8Url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="inline-flex items-center gap-1.5 rounded-lg bg-[#2a3342] hover:bg-[#364259] text-white px-3 py-1.5"
                          >
                            <Icon name="material-symbols:download-rounded" class="w-5 h-5" />
                            <span>Java 8 ZIP</span>
                          </a>
                        )}
                        {!v?.mmc?.java17_2XUrl && !v?.mmc?.java8Url && (
                          <p class="text-xs text-gray-400">No MMC downloads for this version.</p>
                        )}
                      </div>
                    </div>

                    {/* Server */}
                    <div class="rounded-xl p-3 sm:p-4 bg-[#1a1f26] border border-gray-700">
                      <div class="flex items-center gap-2 mb-2">
                        <div class="flex items-center justify-center w-9 h-9 rounded-lg bg-[#2a3342]">
                          <Icon name="mdi:server" class="w-5 h-5 text-custom-blue" />
                        </div>
                        <h3 class="text-base sm:text-lg font-semibold">Server ZIPs</h3>
                      </div>
                      <div class="flex flex-col gap-2">
                        {v?.server?.java17_2XUrl && (
                          <a
                            href={v.server.java17_2XUrl}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="inline-flex items-center gap-1.5 rounded-lg bg-[#2a3342] hover:bg-[#364259] text-white px-3 py-1.5"
                          >
                            <Icon name="material-symbols:download-rounded" class="w-5 h-5" />
                            <span>{getJavaRangeLabel(v)} ZIP</span>
                          </a>
                        )}
                        {v?.server?.java8Url && (
                          <a
                            href={v.server.java8Url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="inline-flex items-center gap-1.5 rounded-lg bg-[#2a3342] hover:bg-[#364259] text-white px-3 py-1.5"
                          >
                            <Icon name="material-symbols:download-rounded" class="w-5 h-5" />
                            <span>Java 8 ZIP</span>
                          </a>
                        )}
                        {!v?.server?.java17_2XUrl && !v?.server?.java8Url && (
                          <p class="text-xs text-gray-400">No server downloads for this version.</p>
                        )}
                      </div>
                    </div>

                    {/* Client */}
                    <div class="rounded-xl p-3 sm:p-4 bg-[#1a1f26] border border-gray-700">
                      <div class="flex items-center gap-2 mb-2">
                        <div class="flex items-center justify-center w-9 h-9 rounded-lg bg-[#2a3342]">
                          <Icon name="mdi:laptop" class="w-5 h-5 text-custom-blue" />
                        </div>
                        <h3 class="text-base sm:text-lg font-semibold">Vanilla Launcher ZIP</h3>
                      </div>
                      <div class="flex flex-col gap-2">
                        {v?.client?.java8Url && (
                          <a
                            href={v.client.java8Url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="inline-flex items-center gap-1.5 rounded-lg bg-[#2a3342] hover:bg-[#364259] text-white px-3 py-1.5"
                          >
                            <Icon name="material-symbols:download-rounded" class="w-5 h-5" />
                            <span>Java 8 ZIP</span>
                          </a>
                        )}
                        {!v?.client?.java8Url && (
                          <p class="text-xs text-gray-400">No vanilla client ZIP for this version.</p>
                        )}
                      </div>
                    </div>
                  </div>
                </div>
              </details>
            );
          })}
        </div>
      )
    }
  </section>
</BaseLayout>
