---
import Link from "../shared/Link.astro";
import LogoNhWhite from "../../assets/logo-nh-white.svg";
import Logo from "../../assets/logo.svg";

// Footer sections data
const footerSections = [
  {
    title: "Downloads",
    links: [
      { name: "Downloads Page", href: "/downloads" },
      { name: "Technic", href: "https://www.technicpack.net/modpack/mcnewhorizons.677387", external: true },
      { name: "CurseForge", href: "https://www.curseforge.com/minecraft/modpacks/gt-new-horizons", external: true },
      { name: "(Advanced) All Files", href: "https://downloads.gtnewhorizons.com/", external: true },
    ],
  },
  {
    title: "Resources",
    links: [
      { name: "Wiki", href: "https://wiki.gtnewhorizons.com/wiki/Main_Page", external: true },
      { name: "FAQ", href: "/faq" },
    ],
  },
  {
    title: "Community",
    links: [
      { name: "Discord Server", href: "https://discord.gg/gtnh", external: true },
      { name: "GitHub", href: "https://github.com/GTNewHorizons", external: true },
      { name: "Bug Reports", href: "https://github.com/GTNewHorizons/GT-New-Horizons-Modpack/issues", external: true },
    ],
  },
];
---

<footer class="bg-custom-dark text-white border-t border-gray-700">
  <div class="container mx-auto px-4 py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-8">
      <!-- Logo and Description -->
      <div class="lg:col-span-3">
        <div class="flex items-center space-x-2 mb-2 sm:mb-4">
          <LogoNhWhite class="h-16 w-16 flex-shrink-0" />
          <span class="text-xl font-audiowide">New Horizons</span>
        </div>
        <p class="text-gray-500 text-md sm:text-lg">Powered by {Astro.generator}</p>
        <p class="text-gray-500 text-md sm:text-lg">
          Open source, <Link href="https://github.com/GTNewHorizons/GTNewHorizons.github.io" blank>fork me!</Link>
        </p>
      </div>

      <!-- Footer Links -->
      {
        footerSections.map((section) => (
          <div class="lg:col-span-1">
            <h3 class="text-xl sm:text-2xl font-semibold mb-2 sm:mb-4">{section.title}</h3>
            <ul class="space-y-2">
              {section.links.map((link) => (
                <li>
                  <Link
                    href={link.href}
                    class="text-gray-400 hover:text-white transition-colors duration-200 text-lg sm:text-xl"
                    blank={link.external}
                  >
                    {link.name}
                  </Link>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</footer>
